/* Global styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 2rem;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}
button {
  padding: 1rem 3rem;
  background: #4c6e97;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
button:hover {
  background: #27394e;
  font-size: 2.6rem;
}

/* Nav section with HERO*/

.main-head {
  background: #131c27;
  color: white;
  position: sticky;
  top: 0%;
  z-index: 3;
}
nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/landing-page.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h3 {
  padding: 4rem;
}

/* LOCATIONS SECTION */
#locations {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/new-york-page.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.locations-head {
  width: 90%;
  margin: auto;
}
.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}
.locations-head h3 {
  padding: 2rem 0rem;
  background: linear-gradient(#131c27, #663b34);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cloud {
  position: absolute;
  top: 0;
  right: 0;
}
.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}
.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
/* Benefits section */
.benefits-head {
  background: #343c44;
  padding: 1rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.benefits-head h3 {
  padding: 2rem;
  line-height: 1.8;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  min-height: 40vh;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.1), 0px 20px 20px rgb(0, 0, 0, 0.1);
  margin: 2rem 5rem;
  flex: 1 1 25rem;
  text-align: center;
  line-height: 1.8;
}
.card h4,
p {
  padding: 1rem;
}
.card-icon {
  background: rgb(31, 47, 71);
}
.card img {
  max-width: 15%;
  margin: 2rem;
}

/* Contact SEction */
#contact {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/contact-mountain.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper {
  background: rgba(19, 28, 39, 0.7);
  width: 70%;
  color: white;
  border-radius: 20px;
}
.form-head {
  text-align: center;
  padding: 4rem;
}
.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}

/* FOOTER SECTION */

footer {
  background: rgba(19, 28, 39, 0.9);
  color: white;
}
.form-wrapper label {
  margin: 0rem 3rem;
}
.form-wrapper button {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
.footer-wrapper h5 {
  flex: 1 1 40rem;
}
.footer-wrapper ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

button:focus {
  background: #273950;
  outline-style: solid;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 933px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
  }
  .cloud {
    height: 40rem;
    pointer-events: none;
  }
  .moving-cloud-1 {
    z-index: -1;
  }
  .moving-cloud-2 {
    z-index: -2;
  }
  .locations-head h3 {
    background: rgba(19, 28, 39, 0.9);
    -webkit-text-fill-color: white;
  }
  .footer-wrapper {
    text-align: center;
  }
  .footer-wrapper h5 {
    padding-bottom: 3rem;
  }
}
